<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zfcr.common.codeautogenerate.mybatisgenerator.temp.BlogInfoMapper">
  <resultMap id="BaseResultMap" type="cn.zfcr.common.codeautogenerate.mybatisgenerator.temp.BlogInfo">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="blogType" jdbcType="VARCHAR" property="blogType" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="blogTag" jdbcType="VARCHAR" property="blogTag" />
    <result column="blogStatus" jdbcType="VARCHAR" property="blogStatus" />
    <result column="createUser" jdbcType="VARCHAR" property="createUser" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="createAddr" jdbcType="VARCHAR" property="createAddr" />
    <result column="visitTimes" jdbcType="INTEGER" property="visitTimes" />
    <result column="content" jdbcType="BLOB" property="content" />
  </resultMap>
  <insert id="insert" parameterType="cn.zfcr.common.codeautogenerate.mybatisgenerator.temp.BlogInfo">
    insert into t_blog_info (id, title, blogType, 
      summary, blogTag, blogStatus, 
      createUser, createTime, createAddr, 
      visitTimes)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{blogtype,jdbcType=VARCHAR}, 
      #{summary,jdbcType=VARCHAR}, #{blogtag,jdbcType=VARCHAR}, #{blogstatus,jdbcType=VARCHAR}, 
      #{createuser,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{createaddr,jdbcType=VARCHAR}, 
      #{visittimes,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.zfcr.common.codeautogenerate.mybatisgenerator.temp.BlogInfo">
    insert into t_blog_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="blogtype != null">
        blogType,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="blogtag != null">
        blogTag,
      </if>
      <if test="blogstatus != null">
        blogStatus,
      </if>
      <if test="createuser != null">
        createUser,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="createaddr != null">
        createAddr,
      </if>
      <if test="visittimes != null">
        visitTimes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="blogtype != null">
        #{blogtype,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="blogtag != null">
        #{blogtag,jdbcType=VARCHAR},
      </if>
      <if test="blogstatus != null">
        #{blogstatus,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null">
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createaddr != null">
        #{createaddr,jdbcType=VARCHAR},
      </if>
      <if test="visittimes != null">
        #{visittimes,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>