.btn-zf {
	background-color: #1B9AF7;
	border-bottom-color: #1B9AF7;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color: #1B9AF7;
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: #1B9AF7;
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: #1B9AF7;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: none;
	border-top-width: 0px;
	box-sizing: border-box;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-family: "Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-feature-settings: normal;
	font-kerning: auto;
	font-language-override: normal;
	font-size: 12px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-synthesis: weight style;
	font-variant: normal;
	font-variant-alternates: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-variant-position: normal;
	font-weight: 300;
	height: 30px;
	line-height: 30px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	overflow: visible;
	overflow-x: visible;
	overflow-y: visible;
	padding-bottom: 0px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	text-align: center;
	text-decoration: none;
	text-decoration-color: #FFF;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-transform: none;
	transition-duration: 0.3s;
	transition-property: all;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
}

.btn-zf:visited {color: #FFF;}
.btn-zf:hover, .btn-zf:focus {
	background-color: #4cb0f9;
    border-color: #4cb0f9;
    color: #FFF;
}

.btn-zf:active, .btn-zf.active, .btn-zf.is-active {
	background-color: #2798eb;
    border-color: #2798eb;
    color: #0880d7;
}

.btn-zf.disabled, .btn-zf.is-disabled, .btn-zf:disabled {
    top: 0 !important;
    background: #EEE !important;
    border: 1px solid #DDD !important;
    text-shadow: 0 1px 1px white !important;
    color: #CCC !important;
    cursor: default !important;
    appearance: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    opacity: .8 !important; }